body{
    background-color: #d7ffc7;
}
#logo{
		display: block;
      margin-left: auto;
      margin-right: auto;
      border:none;
}
/*---------------------------CANVAS------------------------------*/
/*responsive*/
#campo{
  width: 60%;
  margin: 0 auto;
  display: block;
}
/*-------------------------------FICHAS_P1---------------------------------*/
#fichas_p1{
	width: 480px; 
    height: 100px; 
    float:left;
	margin-left: 5%;
    text-align: center;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 5px solid #333;
}
#fichas_p2{
	width: 480px; 
    height: 100px; 
    margin: auto; 
    float:right; 
	margin-right: 5%;
    text-align: center;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 5px solid #333;
}